<html>
    <head>
        <title>My To-Do List</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="/assets/todo-list.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" /> 
    </head>
    <body>
        <h1>My To Do app</h1>
        <div id="todo-table">
            <form method="POST" action="/todo">
                <input type="text" name="item" placeholder="Add an item...." required> 
                <button type="submit">Add Item</button> 
            </form>
            <ul>
                <% todos.forEach(todo => { %>
                    <li><%= todo.Item %></li>
                <%})%>
            </ul>
            <form action="/logout?_method=DELETE" method="POST" >
            <button type="submit">LogOut</button>
            </form>
        </div>
    </body>
</html>